#original {
  float: left;
  width: 400px;
}

#scrambled {
  float: left;
  width: 416px;
}

.square {
  width: 50px;
  height: 50px;
  float:left;
  border: 1px solid black;
}

img {
  height: auto;
  width: auto;
  max-width: 300px;
}
